POSTGRES_DB=****
POSTGRES_USER=****
POSTGRES_PASSWORD=****
POSTGRES_PORT=****

MONGO_PORT=****
MONGO_USERNAME=****
MONGO_PASSWORD=****

GRAFANA_PORT=****
GRAFANA_ADMIN_USER=****
GRAFANA_ADMIN_PASSWORD=****

LOKI_PORT=****

OTEL_GRPC_PORT=****
OTEL_HTTP_PORT=****
OTEL_METRICS_PORT=****
